.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 3;
}



.mainbody{
    top: 114px;
    bottom: 64px;
    left: 114px;
    right: 114px;
}


.footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    text-align: center;
    position: fixed;
    font-size: medium;
}

.conectionlink{
    float: right;
    color: white;
}

.explain{
    font-style: unset;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.medium{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
